<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jungletian.titanjumnote" >

    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="noteinfo.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="io.github.jungletian.titanjumnote.data.NoteInfo" />

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.WriteNoteActivity"
            android:label="@string/title_activity_write_note"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_launcher"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.evernote.client.android.EvernoteOAuthActivity" />
        <activity android:name="com.evernote.client.android.login.EvernoteLoginActivity"/>
    </application>

</manifest>
